/*div {
    width: 960px;
    border: 1px solid grey;
    padding: 5px ;
    align-content: center
}*/

#main_container {
    border: 1px solid grey;
    /*position: absolute;*/
    margin: 10px;
    padding: 10px;
}

h3 {
    text-align: center;
}

image {
    align-content: center;
}

#text1 {
    margin: auto;
    text-justify: auto;
}